<div class="container">
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :summary %>
  <%= f.input :description, input_html: { rows: 10 } %>
  <%= f.input :picture, as: :file %>
  <%= f.input :category, collection: Product.categories.keys %>
  <%= f.hidden_field :picture_cache %>
  <%=  javascript_include_tag Ckeditor.cdn_url %>
  <%= f.button :submit %>
<% end %>
</div>
