<br>
<br>
<br>

<nav>
  <div id="filters">
    <div class="category-group">
      <div class="button-group js-radio-button-group" >
        <%= link_to "All", products_path, class: "btn btn-link #{"btn-primary" if current_page?(products_path)}" %>
        <%= link_to "Pear", products_pear_path, class: "btn btn-link #{"btn-primary" if current_page?(products_pear_path)}" %>
        <%= link_to "Rice", products_rice_path, class: "btn btn-link #{"btn-primary" if current_page?(products_rice_path)}" %>
        <%= link_to "P&R", products_pear_rice_path, class: "btn btn-link #{"btn-primary" if current_page?(products_pear_rice_path)}" %>
      </div>
    </div>
  </div>
</nav>


                       


<h2>Listing posts</h2>

  <div class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Picture</th>
        <th colspan = "4"></th>
      </tr>
     </thead>

  <div class='index'>
    <% @products.each do |product| %>
      <div class><%= link_to image_tag(product.picture), product %></div>
      <div class='name'><%= product.name %></div><br>
      <div class='description'><%= product.description %></div> 

    <% end %>
  </div>


<%= link_to 'New Product', new_product_path, class: 'btn btn-default' %>