
<div class="container">
<h2>Post Preview</h2>
	<div class="row">
		<div class="col-sm-6">
			<%= image_tag(@product.picture, size: "400x400")  %>
		</div>
		<div class="col-sm-6">
			<h2><%= @product.name %></h2>
			<p><%= @product.summary %></p>
		</div>
	</div>

<p>
  <strong>상세설명</strong>
  		<%= @product.description.html_safe %>
</p>
	<%= link_to "목록으로", products_path %>
	<% if user_signed_in? && current_user.manager? %>
	  <%= link_to "수정", edit_product_path(@product)  %>
	  <%= link_to "삭제", product_path(@product), method: :delete, data: { confirm: "정말로 삭제하시겠습니까?" } %>
	  <%= link_to "프로덕트 옵션 관리", product_product_options_path(@product) %>
	<% end %>
</div>
