
<div class="container">
<h2>Post Preview</h2>
	<div class="row">
		<div class="col-sm-6">
			<%= image_tag(@product.picture, size: "400x400")  %>
		</div>
		<div class="col-sm-6">
			<h2><%= @product.name %></h2>
			<p><%= @product.summary %></p>
			<%= form_tag show_pick_product_path(@product) do %>
				<p>
					무게
					<%= select_tag :weight, options_for_select(@product_options.pluck(:weight).uniq) %>
				</p>
				<p>
					등급
					<%= select_tag :grade, options_for_select(@product_options.pluck(:grade).uniq) %>
				</p>
				<p>
					<%= submit_tag "가격보기" %>
				</p>
			<% end %>
		</div>
	</div>

<p>
  <strong>Description:</strong>
  		<%= @product.description.html_safe %>
</p>
	<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %>
	<%= link_to 'Back', products_path, class: 'btn btn-default' %>
</div>
